.container {
  display: flex;
  max-width: 1488px;
  margin: 0 auto;
  min-height: 114px;
  align-items: center;
}

.list {
  display: flex;
}

.item {
  gap: 30px;
}

.link {
  text-decoration: none;

  font-size: 16px;
  font-weight: 400;
  color: var(--lunar-shadow);
  text-shadow: -1px 3px 4px rgba(0, 0, 0, 0.3);
}

.active {
  color: var(--black);
}

.item:not(:last-child)::after {
  content: "/";
  margin-left: 18px;
  margin-right: 18px;
}
